@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
  html {
    font-family: Rubik, system-ui, sans-serif;
  }
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body, #__next{
  display: flex;
  flex-direction: column;
}

#__next{
  flex: 1 1;
}

::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: unset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: unset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}